USE [master]
GO
/****** Object:  Database [MegaOfficeDB]    Script Date: 2018-04-09 13:39:01 ******/
CREATE DATABASE [MegaOfficeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MegaOfficeDB', FILENAME = N'C:\Users\Arvid\MegaOfficeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MegaOfficeDB_log', FILENAME = N'C:\Users\Arvid\MegaOfficeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MegaOfficeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MegaOfficeDB]
GO
USE [MegaOfficeDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2018-04-09 13:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNr] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
